.DS_Store

venv
*.pyc
__pycahce__

nextflow
.nextflow*
work/
*.dot

busco_data

Results/
results/

*.log
.nfs*

*.sif

to-do-list.md

test_data/
test_data_conf/

*.stdout
*.stderr

kraken2db/

ncbi_fcs_adaptor_scripts/