includeConfig './conf/base.config'

params { 
    haplotype_fasta         = [["hap1", "./test_data/test_data1.fasta"], ["hap2", "./test_data/test_data2.fasta"]]
    
    busco {
        lineage_datasets    = ["fungi_odb10", "microsporidia_odb10"]
        augustus_species    = ["fumigatus", "nidulans"]
        mode                = "geno"
        download_path       = "$launchDir/busco_data"
    }

    tidk {
        repeat_seq          = "TTAGGG" // Plant: TTTAGGG, Fungus: TTAGGG, Insect: TTAGG
    }

    lai {
        edta {
            is_sensitive    = 0 // 0|1; This step is very slow
        }
    }
    
    outdir {
        main                = "./results"
    }

    max_cpus                = 32
    max_memory              = 8.GB
    max_time                = 3.days // LAI::EDTA can take a long time
}

process {
    //errorStrategy           = 'retry'
    //maxRetries              = 1
}