params { 
    haplotype_fasta         = [["hap1", "./test_data/test_data1.fasta"], ["hap2", "./test_data/test_data2.fasta"]]
    
    busco {
        lineage_datasets    = ["fungi_odb10", "microsporidia_odb10"]
        augustus_species    = ["fumigatus", "nidulans"]
        mode                = "geno"
        download_path       = "$launchDir/busco_data"
    }

    tidk {
        repeatSeq           = "TTAGGG" // Plant: TTTAGGG, Fungus: TTAGGG, Insect: TTAGG
    }
    
    outdir {
        main                = "./results"
    }
}

process {
    time                    = '1hour'
    memory                  = '8.GB'
    //errorStrategy           = 'retry'
    //maxRetries              = 1
}

profiles {
    slurm {
        process {
            cpus            = 16
            executor        = 'slurm'
        }
    }
    
    local {
        process {
            cpus            = 8
            executor        = 'local'
        }
    }
}

singularity {
    enabled                 = true
    autoMounts              = true
}

conda {
    enabled                 = true
}
