includeConfig './conf/base.config'

params { 
    haplotype_fasta         = [["hap1", "./test_data/test_data1.fasta"], ["hap2", "./test_data/test_data2.fasta"]]
    
    busco {
        skip                = 0 // 1: Skip, 0: Don't
        
        // The pipeline runs BUSCO for each haplotype in combination with each lineage and Augustus species
        // Full cartesian product: Haplotype x Lineage x Species
        // https://busco.ezlab.org/list_of_lineages.html
        lineage_datasets    = ["fungi_odb10", "microsporidia_odb10"]
        
        // https://bioinf.uni-greifswald.de/augustus/
        augustus_species    = ["fumigatus", "nidulans"]
        
        mode                = "geno"
        
        download_path       = "$launchDir/busco_data"
    }

    tidk {
        skip                = 0
        
        // Plant: TTTAGGG, Fungus, Vertebrates: TTAGGG, Insect: TTAGG
        repeat_seq          = "TTAGGG"
    }

    lai {
        skip                = 0

        // Warning: EDTA modifies the sequence names.
        // Make sure the sequence names in the haplotype fasta, the pass list, and the out file match.
        // Pattern          = [["hap_name", "file_path"], ["hap_name", "file_path"]]
        pass_list           = null
        out_file            = null
        
        edta {
            is_sensitive    = 0 // 1: Sensitive, 0: Not sensitive; This step is very slow
        }
    }
    
    // Relative to the directory from which the pipeline is launched.
    outdir {
        main                = "./results"
    }

    max_cpus                = 32
    max_memory              = 8.GB
    
    // LAI::EDTA can take a long time
    max_time                = 3.days
}

process {
    //errorStrategy           = 'retry'
    //maxRetries              = 1
}