/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'
}

timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}
