params {
    config_profile_name         = 'Full stub test'
    config_profile_description  = 'Full test of the pipeline in stub mode'

    input                       = 'tests/stub/assemblysheet.csv'

    ncbi_fcs_adaptor_skip       = false
    ncbi_fcs_adaptor_empire     = 'euk'

    ncbi_fcs_gx_skip            = false
    ncbi_fcs_gx_tax_id          = 12
    ncbi_fcs_gx_db_path         = 'tests/stub/gxdb/test'

    busco_skip                  = false
    busco_mode                  = 'geno'
    busco_lineage_datasets      = 'fungi_odb10 hypocreales_odb10'

    tidk_skip                   = false
    tidk_repeat_seq             = 'TTTGGG'

    lai_skip                    = false

    kraken2_skip                = false
    kraken2_db_path             = 'tests/stub/kraken2/k2_minusb_20231009.tar.gz'

    hic                         = 'tests/stub/hic/Dummy_hic.R{1,2}.fq.gz'

    synteny_skip                = false
    synteny_xref_assemblies     = 'tests/stub/xrefsheet.csv'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                    = 2
    max_memory                  = '6.GB'
    max_time                    = '6.h'
}
