profiles {
    local {
        process {
            executor        = 'local'
        }
    }

    pfr {
        process {
            executor        = 'slurm'
        }

        apptainer {
                envWhitelist= "APPTAINER_BINDPATH,APPTAINER_BIND"
        }
    }

    apptainer {
        apptainer.enabled   = true
        apptainer.autoMounts= true
    }

    docker {
        docker.enabled      = true
        docker.runOptions   = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
}

// Source: https://github.com/nf-core/rnaseq
// License: https://github.com/nf-core/rnaseq/blob/master/LICENSE
process {

    cpus                    = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory                  = { check_max( 6.GB * task.attempt, 'memory' ) }
    time                    = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy           = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries              = 1
    maxErrors               = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus                = { check_max( 1                  , 'cpus'     ) }
        memory              = { check_max( 6.GB * task.attempt, 'memory'   ) }
        time                = { check_max( 4.h  * task.attempt, 'time'     ) }
    }
    withLabel:process_low {
        cpus                = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory              = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time                = { check_max( 4.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        cpus                = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory              = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time                = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus                = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory              = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time                = { check_max( 16.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time                = { check_max( 20.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_week_long {
        time                = { check_max( 7.days  * task.attempt, 'time'  ) }
    }
    withLabel:process_high_memory {
        memory              = { check_max( 200.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_very_high_memory {
        memory              = { check_max( 512.GB * task.attempt, 'memory' ) }
    }
}

// Source: https://github.com/nf-core/rnaseq
// License: https://github.com/nf-core/rnaseq/blob/master/LICENSE
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
