profiles {
    slurm {
        process {
            cpus            = 16
            executor        = 'slurm'
        }
    }
    
    local {
        process {
            cpus            = 8
            executor        = 'local'
        }
    }
}

process {
    time                    = '1hour'
    memory                  = '8.GB'

    withLabel:usesLowCPUMem {
        cpus                = 1
        memory              = '4.GB'
    }

    withLabel:usesSingleCPU {
        cpus                = 1
    }
}

singularity {
    enabled                 = true
    autoMounts              = true
}

conda {
    enabled                 = true
}
