params {
    // Complied variables. Don't modify!
    ht_factor               = ht_fact(params.is_hyperthreaded)

    general_stats {
        falite_path         = "$launchDir/bin/FAlite.pm"
    }
}

def ht_fact(is_hyperthreaded) {
    if (is_hyperthreaded != 0) {
        return 2
    } else {
        return 1
    }
}