process { withName: 'BUSCO_BUSCO' { container = 'modules/nf-core/busco/busco/.conda-lock/linux_amd64-bd-6d1f7006d91892b3_1.txt' } }
process { withName: 'BUSCO_PLOT' { container = 'modules/nf-core/busco/plot/.conda-lock/linux_amd64-bd-6d1f7006d91892b3_1.txt' } }
process { withName: 'FASTP' { container = 'modules/nf-core/fastp/.conda-lock/linux_amd64-bd-4df8d6c11b471bde_1.txt' } }
process { withName: 'FASTQC' { container = 'modules/nf-core/fastqc/.conda-lock/linux_amd64-bd-5cb1a2fa2f18c7c2_1.txt' } }
