process { withName: 'BUSCO_BUSCO' { container = 'community.wave.seqera.io/library/busco:6.1.0--6d1f7006d91892b3' } }
process { withName: 'BUSCO_PLOT' { container = 'community.wave.seqera.io/library/busco:6.1.0--6d1f7006d91892b3' } }
process { withName: 'FASTP' { container = 'community.wave.seqera.io/library/fastp:1.3.6--4df8d6c11b471bde' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--5cb1a2fa2f18c7c2' } }
