params {
    max_cpus                = 48
    is_hyperthreaded        = 0 // 1: Hyperthreading is enabled, 0: Disabled
    
    // Complied variable. Don't modify!
    ht_factor               = ht_fact(params.is_hyperthreaded)

    max_memory              = 512.GB
    
    // LAI::EDTA and LAI::RUN_LAI can take a long time
    max_time                = 6.days
}

def ht_fact(is_hyperthreaded) {
    if (is_hyperthreaded != 0) {
        return 2
    } else {
        return 1
    }
}