params {

    busco {
        mode                    = "geno"
    }

    ncbi_fcs_adaptor {
        // This version and download_path is for the runtime scripts,
        // and not for the DB.
        // Changing these may break the pipeline.
        ver                     = "0.4.0"
        download_path           = "~/.ncbi/fcs/adaptor/${ver}"
    }

    ncbi_fcs_gx {
        // This version and download_path is for the runtime scripts,
        // and not for the DB.
        // Changing these may break the pipeline.
        ver                     = "0.4.0"
        download_path           = "~/.ncbi/fcs/gx/${ver}"
    }
}