params {

    ncbi_fcs_adaptor {
        // This version and download_path is for the runtime scripts,
        // and not for the DB.
        // Changing these may break the pipeline.
        ver                     = "0.4.0"
        download_path           = "~/.ncbi/fcs/adaptor/${ver}"
    }

    ncbi_fcs_gx {
        // This version and download_path is for the runtime scripts,
        // and not for the DB.
        // Changing these may break the pipeline.
        ver                     = "0.4.0"
        download_path           = "~/.ncbi/fcs/gx/${ver}"
    }
}

if(!params.lai.skip) {
    process {
        withName: GT_SUFFIXERATOR {
            ext.args = '-tis -suf -lcp -des -ssp -sds -dna'
        }

        withName: GT_LTRHARVEST {
            ext.args = '-minlenltr 100 -maxlenltr 7000 -mintsd 4 -maxtsd 6 -motif TGCA -motifmis 1 -similar 85 -vic 10 -seed 20 -seqids yes'
        }

        withName: LTRFINDER {
            ext.args = '-harvest_out -size 1000000 -time 300'
        }

        withName: CAT_CAT {
            ext.prefix = { "${meta.id}_ltrharvest_ltrfinder.tabout" }
        }

        withName: LTRRETRIEVER {
            publishDir = [
                path: { "${params.outdir}/lai" },
                mode: "copy",
                pattern: '*.LTRlib.fa'
            ]
        }

        withName: CUSTOM_RESTOREGFFIDS {
            publishDir = [
                path: { "${params.outdir}/lai" },
                mode: "copy",
                saveAs: { filename -> filename.equals("versions.yml") ? null : filename }
            ]
        }

        withName: LAI {
            publishDir = [
                path: { "${params.outdir}/lai" },
                mode: "copy",
                saveAs: { filename -> filename.equals("versions.yml") ? null : filename }
            ]
        }
    }
}