// Source: https://github.com/nf-core/rnaseq
// License: https://github.com/nf-core/rnaseq/blob/master/LICENSE
def trace_timestamp         = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled                 = true
    file                    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled                 = true
    file                    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled                 = true
    file                    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
