params {
    
    // HIV1: https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000864765.1
    target_assemblies           = [
        [
            "hiv",
            "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/864/765/GCF_000864765.1_ViralProj15476/GCF_000864765.1_ViralProj15476_genomic.fna.gz"
        ],
    ]

    assembly_gff3               = [
        [
            "hiv",
            "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/864/765/GCF_000864765.1_ViralProj15476/GCF_000864765.1_ViralProj15476_genomic.gff.gz"
        ],
    ]

    ncbi_fcs_adaptor {
        empire                  = 'prok'
    }

    ncbi_fcs_gx {
        tax_id                  = "11676"
        db_manifest_url         = "https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2023-01-24/all.manifest"
        db_path                 = "/workspace/ComparativeDataSources/NCBI/FCS/GX/r2023-01-24"
    }
    
    busco {
        skip                    = 1
    }

    tidk {
        skip                    = 1
    }

    lai {
        skip                    = 1
    }

    kraken2 {
        db_url                  = "https://genome-idx.s3.amazonaws.com/kraken/k2_pluspfp_20230314.tar.gz"
        download_path           = "/workspace/ComparativeDataSources/kraken2db/k2_pluspfp_20230314"
    }

    hic {
        skip                    = 1
    }

    synteny {
        skip                    = 1
    }
    
    outdir                      = "./results"

    max_time                    = 6.hours
}

apptainer {
    cacheDir                    = "/workspace/assembly_qc/singularity"
}