params {
    target_assemblies           = [
        [
            "FI1",
            "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/003/814/445/GCA_003814445.1_ASM381444v1/GCA_003814445.1_ASM381444v1_genomic.fna.gz"
        ],
    ]

    assembly_gff3               = [
        [
            "FI1",
            "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/003/814/445/GCA_003814445.1_ASM381444v1/GCA_003814445.1_ASM381444v1_genomic.gff.gz"
        ],
    ]

    ncbi_fcs_adaptor    { skip  = 1 }
    ncbi_fcs_gx         { skip  = 1 }
    busco               { skip  = 1 }
    tidk                { skip  = 1 }
    lai                 { skip  = 1 }
    kraken2             { skip  = 1 }
    hic                 { skip  = 1 }
    synteny             { skip  = 1 }
    
    outdir {
        main                    = "./FI1_report_minimal"
    }

    max_time                    = 1.hour
}

singularity {
    cacheDir                    = "/workspace/assembly_qc/singularity"
}