params {
    
    target_assemblies           = [
        [
            "FI1",
            "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/003/814/445/GCA_003814445.1_ASM381444v1/GCA_003814445.1_ASM381444v1_genomic.fna.gz"
        ],
    ]

    assembly_gff3               = [
        [
            "FI1",
            "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/003/814/445/GCA_003814445.1_ASM381444v1/GCA_003814445.1_ASM381444v1_genomic.gff.gz"
        ],
    ]

    assemblathon_stats {
        n_limit                 = 100
    }

    ncbi_fcs_adaptor {
        empire                  = 'euk'
    }

    ncbi_fcs_gx {
        tax_id                  = "35717"
        db_manifest_url         = "https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2023-01-24/all.manifest"
        db_path                 = "/workspace/ComparativeDataSources/NCBI/FCS/GX/r2023-01-24"
    }
    
    busco {
        mode                    = "geno"
        lineage_datasets        = ["fungi_odb10", "hypocreales_odb10"]
        download_path           = "/workspace/ComparativeDataSources/BUSCO/assembly_qc"
    }

    tidk {
        repeat_seq              = "TTAGGG"
    }

    lai {
        monoploid_seqs          = [
            ["FI1", "./docs/test_files/FI1.monoploid.seqs.txt"]
        ]
    }

    kraken2 {
        db_path                 = "/workspace/ComparativeDataSources/kraken2db/k2_pluspfp_20230314"
    }

    hic {
        paired_reads            = "SRR8238190"
    }

    synteny {

        assembly_seq_list       = [
            ["FI1", "./docs/test_files/FI1.seq.list"]
        ]

        xref_assemblies         = [
            [
                "TT_2021a",
                "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/021/950/295/GCA_021950295.1_ASM2195029v1/GCA_021950295.1_ASM2195029v1_genomic.fna.gz",
                "./docs/test_files/TT_2021a.seq.list"
            ],
        ]
    }
    
    outdir                      = "./results"

    max_time                    = 6.hours
}

apptainer {
    cacheDir                    = "/workspace/assembly_qc/singularity"
}