params {
    
    // Vibrio parahaemolyticus: https://www.ncbi.nlm.nih.gov/datasets/genome/GCF_000196095.1/
    target_assemblies           = [
        [
            "v_parahaemolyticus",
            "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/196/095/GCF_000196095.1_ASM19609v1/GCF_000196095.1_ASM19609v1_genomic.fna.gz"
        ],
    ]

    assembly_gff3               = [
        [
            "v_parahaemolyticus",
            "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/196/095/GCF_000196095.1_ASM19609v1/GCF_000196095.1_ASM19609v1_genomic.gff.gz"
        ],
    ]

    ncbi_fcs_adaptor {
        empire                  = 'prok'
    }

    ncbi_fcs_gx {
        tax_id                  = "670"
        db_manifest_url         = "https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2023-01-24/all.manifest"
        db_path                 = "/workspace/ComparativeDataSources/NCBI/FCS/GX/r2023-01-24"
    }
    
    busco {
        mode                    = "geno"
        lineage_datasets        = ["bacteria_odb10", "gammaproteobacteria_odb10", "vibrionales_odb10"]
        download_path           = "/workspace/ComparativeDataSources/BUSCO/assembly_qc"
    }

    tidk {
        skip                    = 1
    }

    lai {
        mode                    = "" // Standard

        pass_list               = null
        out_file                = null
        
        edta {
            is_sensitive        = 0
        }
    }

    kraken2 {
        db_url                  = "https://genome-idx.s3.amazonaws.com/kraken/k2_pluspfp_20230314.tar.gz"
        download_path           = "/workspace/ComparativeDataSources/kraken2db/k2_pluspfp_20230314"
    }

    hic {
        skip                    = 1
    }

    synteny {
        skip                    = 1
    }
    
    outdir {
        main                    = "./v_parahaemolyticus_report"
    }

    max_time                    = 6.hours
}

singularity {
    cacheDir                    = "/workspace/assembly_qc/singularity"
}