/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run plant-food-research-open/assemblyqc -revision <version> -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 10,
        memory: '32.GB',
        time: '6.h'
    ]
}

params {
    config_profile_name         = 'Full test profile'
    config_profile_description  = 'Full test dataset to check pipeline function'

    input                       = 'https://raw.githubusercontent.com/plant-food-research-open/assemblyqc/dev/assets/assemblysheetv2.csv'

    gfastats_skip               = false

    ncbi_fcs_adaptor_skip       = false
    ncbi_fcs_adaptor_empire     = 'euk'

    ncbi_fcs_gx_skip            = true // Skipping this step as the dataset is humengous (500 GB). Please download the dataset manually
    ncbi_fcs_gx_tax_id          = 35717
    // ncbi_fcs_gx_db_path      = 'https://ftp.ncbi.nlm.nih.gov/genomes/TOOLS/FCS/database/r2023-01-24'

    tidk_skip                   = false
    tidk_repeat_seq             = 'TTTGGG'

    busco_skip                  = false
    busco_mode                  = 'genome'
    busco_lineage_datasets      = 'fungi_odb10 hypocreales_odb10'

    lai_skip                    = false

    kraken2_skip                = true // Skipping this step as the dataset is humengous (126 GB). Please download the dataset manually
    // kraken2_db_path          = 'https://genome-idx.s3.amazonaws.com/kraken/k2_pluspfp_20240112.tar.gz'

    hic                         = 'SRR8238190'

    merqury_skip                = false

    synteny_skip                = false
    synteny_mummer_skip         = false
    synteny_plotsr_skip         = false
    synteny_xref_assemblies     = 'https://raw.githubusercontent.com/plant-food-research-open/assemblyqc/dev/assets/xrefsheet.csv'
}
