profiles {
    pfr {
        process {
            executor        = 'slurm'
        }

        apptainer {
            envWhitelist    = "APPTAINER_BINDPATH,APPTAINER_BIND"
            cacheDir        = "/workspace/assemblyqc/singularity"
        }
    }
}

params {
    config_profile_name         = 'Plant&Food profile'
    config_profile_description  = 'Plant&Food profile using SLURM in combination with Apptainer'
}
